<div class="container ">
  <div class="create-user">
      <div class="box box-info" style="width:70% !important; margin:5% 20% !important">
             <div class="nav-tabs-custom">
          <!-- Tabs within a box -->
             <ul class="nav nav-tabs pull-right">
                       
                
                 <li routerLinkActive="active" ><a  [routerLink] = "['/admin/groups/addgroup']" >Add New Group</a></li>
                 <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a  [routerLink] = "['/admin/groups/listgroups']" >Group List</a></li>
                  
             </ul>
          <div class="no-padding">
            <router-outlet></router-outlet>
          </div>
        </div>
        
  </div>
</div>
</div>