<div class="wrapper">
   <!-- Main Header -->
  <app-ndelogin-header></app-ndelogin-header>
  <ng2-slim-loading-bar [color]="'green'" [height]="'3px'"></ng2-slim-loading-bar>
  <!-- Left side column. contains the logo and sidebar -->
  <!--<app-starter-left-side></app-starter-left-side>-->
  <!-- Content Wrapper. Contains page content -->
  <app-ndelogin-landing></app-ndelogin-landing>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <app-ndelogin-footer></app-ndelogin-footer>
  <!-- Control Sidebar -->
  <!--<app-starter-control-sidebar></app-starter-control-sidebar>-->
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <!--<div class="control-sidebar-bg"></div>-->
</div>