<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!--<div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>-->
    <!-- search form -->
    <!--<form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>-->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
     
     <li class="treeview">
        <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>User Manager</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
             <li   routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a  routerLink="/admin/createusers">
            <i class="fa fa-user-o"></i> <span>Create New User</span>
               <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
           </a>
        
      </li>
      <li class="treeview" routerLinkActive="active">
          <a routerLink="/admin/createcompany"><i class="fa fa-circle-o"></i><span> Create Company </span>
           </a></li>
           <li class="treeview" routerLinkActive="active"><a routerLink="/admin/createdepartment"><i class="fa fa-circle-o"></i>
       <span> Create Department</span></a></li>
           <li class="treeview" routerLinkActive="active"><a routerLink="/admin/createposition"><i class="fa fa-circle-o"></i>
       <span> Create Position</span></a></li>
        </ul>
      </li>
  
   <li class="treeview">
        <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Project Manager</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
             <li class="treeview" routerLinkActive="active"><a routerLink="/admin/procurement"><i class="fa fa-circle-o"></i>
       <span> Add Procurement Method</span></a></li>
           <li class="treeview" routerLinkActive="active"><a routerLink="/admin/groups"><i class="fa fa-circle-o"></i>
       <span> Add Project Group</span></a></li>
          
        <li class="treeview" routerLinkActive="active"><a routerLink="/admin/projects"><i class="fa fa-circle-o"></i>
       <span> Add Project</span></a></li>
         <li class="treeview" routerLinkActive="active" >
        <a routerLink="/admin/listapproved">
            <i class="fa fa-pie-chart"></i>
            <span>Approved Bidders</span>
       
          </a>
   
      </li>
        
         <li class="treeview" routerLinkActive="active" >
        <a routerLink="/admin/generateawardletter">
            <i class="fa fa-pie-chart"></i>
            <span>Generate Award Letter</span>
            <!--<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>-->
          </a>
   
      </li>
        <li class="treeview" routerLinkActive="active" >
        <a routerLink="/admin/listbidders">
            <i class="fa fa-pie-chart"></i>
            <span>View Bidders</span>
        
          </a>
   
      </li>
         
         <li class="treeview" routerLinkActive="active" >
        <a routerLink="/admin/listconsultants">
            <i class="fa fa-pie-chart"></i>
            <span>View Consultants</span>
       
          </a>
   
      </li>
        </ul>
      </li>
   
   
 
     
       
      
     
   
     




   
 
  
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
