span.form-control-feedback{
    right:0 !important;
    background: #006400 !important;
    color: #fff !important;
    width: 200px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important
}