 <!-- Morris chart - Sales -->
              <div class="box-header tab-pane active"  id="create-user" *ngIf="manageUser == false">
            <i class="fa fa-user-o"></i>

            <h3 class="box-title">Create User</h3>
                  <!-- Tabs within a box -->
          
            <!-- tools box -->
            <div class="pull-right box-tools">
              <!--<button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
            </div>-->
            <!-- /. tools -->
          </div>
          <div class="box-body">
           
            <form [formGroup] = "createUser" (ngSubmit)="createUserAccount(createUser.value, $event); createUser.reset()" novalidate>
              <div class="form-group">
                <label>Firstname</label>
                <input type="text" formControlName = "firstName" class="form-control" name="firstname" placeholder="firstname" required>
                 <div *ngIf="formErrors.firstname" class="label label-danger">
                    {{ formErrors.firstname }}
                  </div>
              </div>
               <div class="form-group">
                 <label>Lastname</label>
                <input type="text" formControlName = "lastName" class="form-control" name="lastname" placeholder="lasttname" required>
               <div *ngIf="formErrors.lastname" class="label label-danger">
                    {{ formErrors.lastname }}
                  </div>
              </div>
              <div class="form-group">
                  <label>Department</label>
                  <select formControlName = "department" class="form-control" name="dept" placeholder="Department" required>
                    <option><strong> --Select Department --</strong></option>
                    <option *ngFor="let dept of deptData" [value]="dept.departmentName">{{dept.departmentName}}</option>
              
                  </select>
                  <div *ngIf="formErrors.department" class="label label-danger">
                    {{ formErrors.department }}
                  </div>
                </div>
                <div class="form-group">
                  <label>Postion</label>
                  <select formControlName = "position" class="form-control" name="position" placeholder="Position" required>
                    <option><strong>--Select Position--</strong></option>
                    <option *ngFor="let pos of posData" [value]="pos.title">{{pos.title}}</option>
              
                  </select>
                  <div *ngIf="formErrors.postion" class="label label-danger">
                    {{ formErrors.position }}
                  </div>
                </div>
            
              <div class="form-group has-feedback ">
                <label>Email</label>
                <input type="email" formControlName = "email"  #email class="form-control" name="email" placeholder="create username" aria-describedby="basic-addon2" pattern="@nde.gov.ng" required>
                  <span class="glyphicon glyphicon-envelope form-control-feedback"> @nde.gov.ng</span>
                <!--<span class="input-group-addon" id="basic-addon2">@nde.gov.ng</span>-->
               <div *ngIf="formErrors.email" class="label label-danger">
                    {{ formErrors.email }}
                  </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="text" formControlName = "password" class="form-control" name="subject" placeholder="create password" required>
               <div *ngIf="formErrors.password" class="label label-danger">
                    {{ formErrors.password }}
                  </div>
              </div>
<!--            
              <div>
                <textarea class="textarea" placeholder="Role Description" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </div>-->
              <div class="box-footer clearfix">
                <button type="submit" class="pull-right btn btn-default" id="sendEmail" [disabled] = "!createUser.valid">Create user
                    <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </form>
          </div>
        
        </div>