 <!-- Morris chart - Sales -->
  <div class="col-md-12 content" >
              <div class="box-header " >
            <i class="fa fa-user-o"></i>

            <h3 class="box-title">Create Procurement</h3>
                  <!-- Tabs within a box -->
          
            <!-- tools box -->
            <div class="pull-right box-tools">
              <!--<button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
            </div>-->
            <!-- /. tools -->
          </div>
              </div>
          <div class="box-body">
           
            <form [formGroup] = "procurement" (ngSubmit)="addProcurement(procurement.value); procurement.reset()" style="width: 60% !important">
              <div class="form-group">
                <label>Procurement Name</label>
                <input type="text" formControlName = "name" class="form-control" name="name" placeholder="Add New Department" required>
                 <div *ngIf="formErrors.name" class="label label-danger">
                    {{ formErrors.name }}
                  </div>
              </div>
               <div class="form-group">
                <label>Procurement Description</label>
                <textarea type="text" formControlName = "description" class="form-control" name="description" placeholder="Add New Department" required></textarea>
                 <div *ngIf="formErrors.description" class="label label-danger">
                    {{ formErrors.description }}
                  </div>
              </div>
             
<!--            
              <div>
                <textarea class="textarea" placeholder="Role Description" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </div>-->
              <div class="box-footer clearfix">
                <button type="submit" class="pull-right btn btn-default" id="sendEmail">Add Procurement Method
                    <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </form>
          </div>
        
        </div>
        