 <!-- Morris chart - Sales -->
  <div class="col-md-12 content" >
              <div class="box-header " >
            <i class="fa fa-user-o"></i>

            <h3 class="box-title">Edit Position</h3>
                  <!-- Tabs within a box -->
          
            <!-- tools box -->
            <div class="pull-right box-tools">
              <!--<button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
            </div>-->
            <!-- /. tools -->
          </div>
              </div>
          <div class="box-body">
           
            <form [formGroup] = "createPos" (ngSubmit)="updatePositon(createDept.value); createPos.reset()" style="width: 60% !important">
              <div class="form-group">
                <label>Position</label>
                <input type="text" formControlName = "title" 
                      class="form-control" 
                      name="title" 
                      placeholder="Add New Position"
                      value="{{title}}" required>
                 <!--<div *ngIf="formErrors.firstname" class="label label-danger">
                    {{ formErrors.firstname }}
                  </div>-->
              </div>
             
<!--            
              <div>
                <textarea class="textarea" placeholder="Role Description" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </div>-->
              <div class="box-footer clearfix">
                <button type="submit" class="pull-right btn btn-default" id="sendEmail">Update 
                    <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </form>
          </div>
        
        </div>
        